repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=1000"]

  - repo: local
    hooks:
      - id: goimports
        name: goimports
        entry: bash -c 'goimports -w ./src'
        language: system
        types: [go]
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd src && golangci-lint run ./...'
        language: system
        types: [go]
        pass_filenames: false
        stages: [commit]
